<div class="fixed-bottom container-fullit py-3" style="background-color: #ffabb2;">
  <div class="row aline-items-center d-flex justify-content-center">
    <p class="text-light mb-0">
      FootPia
    </p>
  </div>
</div>